@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}